html, body{
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}
html {
    background: #ffffff;
    background-image: linear-gradient(to top, rgb(255, 255, 255), #ffffff);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    margin: 10px;
}

h2{
    text-decoration: underline;
}

a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#currenttime {
    text-align: right;
}
.place{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    width: 400px;
    margin: 20px;
    padding: 20px;
}

div{
    margin: 0px;
}

@media (prefers-color-scheme: dark) { 
    html, body{
        color: lightgray;
    }
    html {
        background: rgba(26, 26, 26, 1);
    }
    a{
        color: lightgray;
    }
    .place{
        background-color: rgba(34, 34, 34, 1);
        border: none;
    }
    #header{
        margin: 0 auto; 
        color: #f76a38; 
        border: 1px solid #f76a38;
        border-radius: 10px;
        padding: 20px;
        width: fit-content;
        text-align: center;
    }
}
@media (prefers-color-scheme: dark) and (max-width: 480px) {
    html {
        background: #000000;
        background-image: #000000;
    }
    .place{
        background-color: rgba(26, 26, 26, 1);
        border: none;
        width: 300px;
    }
}

@media (prefers-color-scheme: light) { 
    html, body{
        color: rgb(0, 0, 0);
    }
    html {
        background: #ffffff;
        background-image: #ffffff;
    }
    a{
        color: black;
    }
    .place{
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid black;
    }
    #header{
        margin: 0 auto; 
        text-align: center; 
        color: white; 
        background-color: #D73F09;
        padding: 10px;
        margin: 0 auto; 
    }
}